*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outermost_container{
    width: 100vw;
    /* background: green; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.one{
    /* background: red; */
}

.two{
    /* background: yellow */
}

.glyphicon-chevron-left{
    display: inline-block;
    padding-top: 20px;
}

.glyphicon.glyphicon-chevron-left{
    font-size: 25px;
}

.btn-default{
    border-color: white;
}

.outer-grid{
    /* background: yellow; */
    width:90%;
}
